/*Main and Top Section*/
body, html {
  width: 100%;
  height: 100%;
}
header, html {
  background-image: url('https://images.unsplash.com/photo-1632516643720-e7f5d7d6ecc9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  margin: 0;
}  
header {
  position: sticky;
  top: 0;
}
h1, i{
  font-size: 1.3em;
  color: #fff;
  margin-left: 4%;
}
h1 {
  display: inline-block;
  font-weight: bolder;
  width: 76%;
}

/* Undone Todo Section*/
p {
  background-color: #fff;
}
p, #completed-header, #lists-header {
  height: 3em;
  padding: 0.3em 1rem 0.3rem 0.8rem;
  font-size: 0.7em;
  border-radius: 0.4em;
  margin: 0.2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
}
p input {
  font-size: 1.5rem;
  height: 1em;
  width: 1em;
}
#status {
  margin-right: 0.8rem;
} 
.fa-star, img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
}

/* Todo Add Button*/
span .fa-plus {
  width: 2.5em;
  height: 2.5em;
  border: 0.1rem solid #aaa;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 87%;
  left: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-plus {
  color: #000;
  width: 2rem;
  height: 2rem;
}

/* Completed Todo Section*/
#completed-header i, #completed-header span, #lists-header i, #lists-header span {
  margin-right: 0.5rem;
}
#completed-header, #lists-header {
  color: #fff;
  font-weight: 400;
}
#completed-header i:first-child, #lists-header i:first-child {
  width: 1rem;  
  text-align: center;
  margin-right: 0.8rem;
}
#completed-content {
  display: none;
}
#completed-content span {
  text-decoration: line-through;
}

/* Add Todo Section*/
#form {
  background-color: #fff;
  padding: 0.3rem;
  display: none;
  color: #808080;
  position: fixed;
  bottom: 0;
}
#form p, input:disabled, input[name="add"], button {
  height: 1.5rem;
  font-size: 0.88rem;
  font-weight: 300;
}
input:disabled {
  width: 10%;
  margin-left: 3.333%;
  margin-top: 1%;
}
input[name="add"] {
  margin: 0;
  width: 62%;
}
input[name="add"], input[name="add"]:focus {
  border: none;
  outline: none;
}
input[name="add"]{
  padding: 0.4rem;
}
button {
  margin-top: 0.3rem;
  margin-left: auto;
  margin-right: 1rem;
  width: 7%;
  height: 1.5rem;
  padding: 0.1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #ccc;
}
button i {
  font-size: 1rem;
  margin: auto;
}

span img, #cal {
  font-size: 1.2rem;
  height: 1rem;
  width: 1rem;
  margin-left: 0.8rem;
  margin-right: 0.35rem;
}
span #cal {
  color: black;
}
#form p span:nth-child(2), #form p span:nth-child(3) {
  margin-left: 0.3rem;
}

.fa-regular {
  color: #606060;
}
.fa-solid {
  color: #0060df;
}

section::-webkit-scrollbar {
  width: 0.4rem;
}
/* Track */
section::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
section::-webkit-scrollbar-thumb {
  background: #909090; 
}

/* Handle on hover */
section::-webkit-scrollbar-thumb:hover {
  background: #0060df; 
}

@media only screen and (min-width:600px) {
  body, html {
    width: 100%;
    height: 100%;
  }
  header, html {
   background-image: url("https://images.unsplash.com/photo-1653676934208-021a2b5e7ca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM2fENEd3V3WEpBYkV3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1500&q=80");
   background-size: cover;
   background-repeat: no-repeat;
  }
  body {
    font-size: 200%;
  }
  h1, i{
    font-size: 1.2em;
    color: #fff;
  }
  h1 {
    display: inline-block;
    font-weight: bolder;
    width: 45%;
  }
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Undone Todo Section*/
 #completed, #main {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    overflow: auto;
  }
  #lists {
    margin-right: 5%;
  }
  #form {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
  }

  span .fa-plus {
  width: 4em;
  height: 4em;  
  position: fixed;
  top: 90%;
  left: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-plus {
  color: #000;
  width: 8rem;
  height: 8rem;
}
}
@media only screen and (orientation: landscape) {
  span .fa-plus {
    width: 1.5em;
    height: 1.5em;  
    top: 74%;
    left: 87%;
  }
  .fa-plus {
    width: 0.1rem;
    height: 0.1rem;
    font-size: 1.3rem;
    padding: 0.9rem;
  }
}